* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonsContainer {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #292929;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.buttonsContainer button {
    background-color: #464646;
    padding: 10px;
    border: none;
    border-radius: 10px;
    min-width: fit-content;
    margin: 15px 10px;
}

.buttonsContainer a {
    text-decoration: none;
    height: fit-content;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.buttonsContainer button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 500px) {
    .container a {
        padding: 5px 10px;
    }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .userDetails {
    padding: 50px 0;
}

.container .userDetails h1 {
    margin-bottom: 20px;
}

#editModal {
    background-color: #bebebe;
    width: 100%;
    text-align: center;
}

#editModal h2 {
    margin-top: 50px;
    padding-bottom: 20px;
}

.container .userDetails form,
#editModal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .userDetails form input,
#editModal form input {
    width: 270px;
    margin: 5px 0;
    padding: 10px 20px;
}

.container .userDetails form input[type="file"],
form input[type="submit"],
#editModal form input[type="file"],
.editButtons input[type="button"] {
    margin: 20px 0;
}

form input[type="submit"],
#editModal button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

form input[type="submit"]:hover,
#editModal button:hover {
    transform: scale(1.05);
}

.storedData {
    text-align: center;
    padding: 50px;
}

.storedData h2 {
    margin-bottom: 10px;
}

.storedData ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.storedData ul li {
    padding: 20px;
    text-align: left;

    border: 1px solid #333;
}

.storedData ul li a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    width: 100%;
}